/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap'); */
@import "tailwindcss";



:root {
  --background: #0c274c;
  --foreground: #0c274c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c274c;
    --foreground: #0c274c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
}

input:focus {
  outline: none;
  border: 0 !important;
}

@keyframes bg-scroll-x {
  0% {
    background-position: 0 4000px;
    ;
  }

  100% {
    background-position: 0 0;
  }
}

.bg-scroll-x {
  background-size: cover;
  background-repeat: repeat-y;
  animation: bg-scroll-x 20s linear infinite;
}

@keyframes bg-scroll-y {
  0% {
    background-position: 0 980px;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes bg-scroll-y-desktop {
  0% {
    background-position: 0 3480px;
  }

  100% {
    background-position: 0 0;
  }
}


.bg-scroll-y-desktop {
  background-size: cover;
  background-repeat: repeat-y;
  animation: bg-scroll-y-desktop 50s linear infinite;
}

/* 外部loading 加载样式 */
.loader {
  display: block;
  position: relative;
  height: 24px;
  width: 85%;
  border: 2px solid #fff;
  border-radius: 100px;
  overflow: hidden;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

.loader::after {
  content: '';
  width: 89px;
  height: 16px;
  margin-top: 2px;
  background: linear-gradient(272.65deg, #279EFE 4.53%, #FFFFFF 38.12%, #FE91FF 63.95%, #2CF9FF 94.09%);
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 3s linear infinite;
  will-change: transform;
  transform: translateZ(0);
  backface-visibility: hidden;
}

@keyframes animloader {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(400%);
  }
}

/* margin 居中 */
.m-center {
  margin: 0 auto;
}

.border-gradient {
  border: 2px solid;
  border-image-source: linear-gradient(90deg, #D8F2FF -0.26%, #00FFFF 19.84%, #09F9FE 20.85%, #23ECFD 21.85%, #4DD6FB 23.86%, #88B7F9 25.87%, #D190F6 27.88%, #FA7BF5 28.89%, #F685F5 29.89%, #EBA6F8 34.92%, #E2C1FA 40.95%, #DAD5FC 46.98%, #D5E4FE 54.02%, #D2EDFE 62.06%, #D2F0FF 75.13%, #008DFF 90.21%, #55B9FF 94.23%, #D8F2FF 100.26%);
  border-image-slice: 1;
}

.border-gradient-desktop {
  border: 4px solid;
  border-image-source: linear-gradient(90deg, #D8F2FF -0.26%, #00FFFF 19.84%, #09F9FE 20.85%, #23ECFD 21.85%, #4DD6FB 23.86%, #88B7F9 25.87%, #D190F6 27.88%, #FA7BF5 28.89%, #F685F5 29.89%, #EBA6F8 34.92%, #E2C1FA 40.95%, #DAD5FC 46.98%, #D5E4FE 54.02%, #D2EDFE 62.06%, #D2F0FF 75.13%, #008DFF 90.21%, #55B9FF 94.23%, #D8F2FF 100.26%);
  border-image-slice: 1;
}